@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&family=Palette+Mosaic&family=Poppins:wght@700&family=Source+Sans+Pro:wght@200&display=swap');
html {
    margin:0;
   width:100%;
  background-color:rgb(245, 236, 236);

}

.about .skills .portfolio{

  font-family: 'Source Sans Pro', sans-serif;
}
 /* Navbar */
 .navba-nav{
     font-size:18px;
     font-family: 'Poppins', sans-serif;
 }
 .navbar{
     position: sticky;
     top: 0;
     z-index: 1;
 }
 /* Button */
 .btn:hover {
     color:white
 }
 button,input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #7e8086;
  text-shadow: 1px 1px 0 #fff;
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  box-shadow: -2px -2px 5px rgb(167, 110, 110), 2px 2px 5px #babecc;
}
button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
button .icon {
  margin-right: 8px;
}
button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
button.unit .icon {
  margin-right: 0;
}

 /* Progress Bar */
 .progress {
     height: 30px;
     border-radius: 50px;
     transition: all 0.5s ease;
 }
 .progress:hover{
     transform: scale(1.1);
 }

 /* about me */
 .about {
   display: flex;
   justify-content: center;
 }
.both {
  width: 100%;
   display: flex;
   flex-direction: row;
}
.words{
  padding:30px;
  padding-top: 10px;
}
.port{
  display: flex;
   justify-content: center;
}
.port img{
  display: flex;
 justify-content: center;

}


 /* Card */
 .card {
     transition: all 0.5s ease;
 }
 .card img {
     height: 100px;
     width: 100px;
     margin: auto;
 }

 .card:hover {
     transform: matrix(1.1);
     box-shadow: 1px 2px 10px black;

 }


 /* footer */

 .footer{
     font-family: 'IBM Plex Sans Arabic', sans-serif;

 }
.footer-link {
    width: 100%;
    height: 50px;
    font-size: 15px;

}

.footer-link ul{
    list-style-type:none;
}
 .footer-link li {
           display: inline;
           margin: 10px;

 }

 @media only screen and (max-width:1000px){
        .both {
          display: flex;
          flex-direction: column;    
        }
        .portfolio{
          display: flex;
          justify-content: center;
        }
}