html,body{
    width:100%;
    height: 100%;
    margin:0%;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items:center;

}

.wrapper h1{
    padding-bottom: 10px;
}

.port  {
    display: flex;
    gap: 35px;
    margin-bottom: 40px;
}